# Configuración del Servidor
PORT=3000

# Base de Datos
MONGO_URI=mongodb://127.0.0.1:27017/iot-guard

# Seguridad Blockchain (Solana)
# Pega aquí el array de tu llave privada de la Devnet
SOLANA_SECRET_KEY=[0,0,0,0,...]
